/*
	Nuestra Hoja de Estilos Principal
	@author Jose
	@version 1.0
	@fecha 2019 06 27
	0. Reset     - resetear estilos del user-agent
	1. Animaciones o Keyframes
	2. Etiquetas - dar estilos base a todos los tags 
	3. clases comunes
	4. Layouts   - secciones de la web (cabecera, menus, pies, etc...)
	5. Media Querys para RWD Responsive Web Design
*/

/*
* Resetear
***********************************************************************/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
* Etiquetas
************************************************************************/

a ,a:visited{
	color: #0358d8;
	text-decoration: none;
}

/*
a ,#menu.ul.li.a:visited{
	color: #f7f7f7;
	text-decoration: none;
}
*/

a:hover {
	color: #d86c5c;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
	background-color: #fff;
}

h1{
	font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h2, h3, h4, h5, h6 {
	text-transform: capitalize;
    color: #2f363c;
	margin-top: 5px;
    margin-bottom: 6px;
    font-weight: 600;
    line-height: 1.25;
}

.h3, .h4, .h5, .h6, h3, h4, h5, h6 {
    font-size: 18px;
}
/*
img{
	width: 100%;
	height:100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)
}
*/
article img {
	width: 150px;
	height: auto;
	float:left;
	margin: 0 10px 10px 0;
	
}

footer{
	
	background-color: #DDD;
	padding: 20px;
	margin-top: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
	/*@ see Cuenta el border y padding dentro de la caja*/
	box-sizing: border-box;

}

nav {
  padding: 0em 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  max-width: 1024px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
    
}

nav li a.menu:hover {
  
  color: white;
  padding: 3px, 8px;
}

ol, ul{
	list-style-type: none;
}

p{
	text-indent: 20px;
	margin-bottom: 1em;
	text-align: left
}
/*
span{
	margin: 1.5em;
}
*/

label{
	color: #003580;
	margin-right: 15px;
	display: inline-block;
	text-align: right;
	width: 180px;
}

label:after{
	content: ":";
}

label.obligatorio:before{
	content: "(*)";
}

input[type="text"], input[type="number"], input[type="email"]{
	border: none;
	border-bottom: 2px solid #003580;
	padding: 5px;
	font-size: 1em;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus{
	font-size: 1.3em;
	color: #003580;
}
/* En función del pattern y required se usa el valid o invalid */
input[type="text"]:invalid, input[type="number"]:invalid, input[type="email"]:invalid{
	font-size: 1.5em;
	color: red;
}

input[type="text"]:valid, input[type="number"]:valid, input[type="email"]:valid{
	font-size: 1em;
	color: #043580;
}


input[type="submit"], input[type="reset"]{
	background-color: #003580;
	color: #FFF;
	border-radius: 10px;
	padding: 10px;
	border: none;
	margin-top: 20px;
}

input[type="submit"]:hover{
	background-color: #0358d8;
}

input[type="reset"]{
	background-color: cadetblue;
}
input[type="reset"]:hover{
	background-color: coral;
}

/*
* 4. Layouts
************************************************************************/

.marcoFino{
	border: 1px solid #003580;
	padding: 10px;
}

.volverInicio{

	position: fixed;
	
    bottom: 6em;
    right: 5em;
	
}

.headline .title {
    color: #2f363c;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -.015em;
    line-height: 1.04;
    margin-bottom: 0;
    word-spacing: -.02em;
}

.text-danger{
	color: red;
}

.content{
	max-width: 1024px;
	margin:auto;	/* Centrado en horizontal */

}

.wrapper-nav{
	margin:auto;	/* Centrado en horizontal */
	background: #f7f7f7;
	width:100%; 
	border-bottom: 1px solid #dee0e2;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main.content{
	margin-top: 80px;
	/*background-color: red; Lo utilizamos para ver el espacio que ocupa con el inspector*/
	margin-bottom: 70px;
	min-height: 61vh;
}

.tituloEnMedio{
	color: rgb(209, 221, 239);
	margin: 0 0 0 0;
}

header.principal{
	background-color: #003580;
	color: #FFF;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	/*padding: 10px;*/
}


#principal{
	background-color: rgba(0, 128, 128, 0.25);
	color: coral;
	margin: 1px 2px 25px 5px;
	padding: 10px 10px 10px 10px;
	border: 5px solid #000;
}
#principal a:hover{
	color: teal;
	background-color: aliceblue;
	border: 1px solid #00ffff;
	transition-duration: 900ms;
	padding: 20px;
}


/*
.menu li{
	padding: 30px;
}
*/


wrapper-nav nav li a {
	color: #003580;
	

	text-decoration: none;
	padding: 0.5em 1em;

    background: #f7f7f7;

  
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    width: 100%;
	z-index: 10000;
	
	line-height: 1;
	
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

#menu ul {
	display: flex;
	flex-direction: row;
	/*justify-content: space-evenly;*/
}



#menu{
	background:#f7f7f7;
	border-bottom:1px solid #dee0e2;
	position:static;
	transition:box-shadow .28s cubic-bezier(.4,0,.2,1);
	width:100%;z-index:10000;
}
#menu ul{
	align-items:center;
	height:32px;
	list-style:none;
	padding:0;
}
#menu li{
	font-size:12px;
	font-weight:700;
	margin-right:28px;
	text-transform:uppercase;
}
#menu a{
	color:#003580;
	line-height:1;
	text-decoration:none;
}
#menu .active a{
	background:#003580;
	border-radius:2px;
	color:#fff;
	padding:3px 8px;
}
#menu.scrolling{
	background:#003580;
	border-bottom:0;
	box-shadow:0 2px 5px rgba(0,0,0,.3);
	position:fixed;
	top:0;
}
#menu.scrolling a{
	color:#fff
}
#menu.scrolling .active a{
	background:#fff;
	color:#003580;
}


.boton-arriba{
	position: fixed;
  	bottom:  2em;
	right: 2em;
	background-color: white;
	border-radius: 50%;
	padding: 2px;
	z-index: 1000;

	-webkit-box-shadow: 12px 8px 16px -2px rgba(0,0,0,0.74); 
	box-shadow: 12px 8px 16px -2px rgba(0,0,0,0.74);

}

.active{
	background: #003580  !important;
	border-radius: 3px;
	padding: 3px;
	color: white !important;
	/*font-size: 3em;*/
}

.wikitable{
	border: 1px solid #003580;

}

/* 5. Media Querys para RWD
***********************************************************************/
/* MOBILE L */
/* @media (max-width: 425px), (orientation: landscape){*/
@media (max-width: 425px){
	footer#main{
		position: relative;
	}

	.boton-arriba{
		bottom: 0.5em;
		right: 0.5em;
	}

	#menu ul{
		justify-content:space-around;
	}

	h1{
		font-size: 2em;
	}
	main.content{
		padding: 5px;
	}
}




