/*

	Nuestra Hoja de Estilos Principal

	@author Jose
	@version 1.0
	@fecha 2019 06 27

	1. Reset     - resetear estilos del user-agent
	2. Etiquetas - dar estilos base a todos los tags 
	3. clases comunes
	4. Layouts   - secciones de la web (cabecera, menus, pies, etc...)
	5. Media Querys para RWD Responsive Web Design
*/

/*
* Resetear
***********************************************************************/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
* Etiquetas
************************************************************************/

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
	background-color: #fff;
}

/*
* 4. Layouts
************************************************************************/

.headline .title {
    color: #2f363c;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -.015em;
    line-height: 1.04;
    margin-bottom: 0;
    word-spacing: -.02em;
}

img{
	width: 100%;
	height:100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)
}
ol, ul{
	list-style-type: none;
}
footer{
	
	background-color: #DDD;
	padding: 20px;
	margin-top: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;

}
a ,a:visited{
	color: #0358d8;
	text-decoration: none;
}

a:hover {
	color: #d86c5c;
}

h1{
	color: #FFF;
}

.h3, .h4, .h5, .h6, h3, h4, h5, h6 {
    font-size: 18px;
}

h2, h3, h4, h5, h6 {
	text-transform: capitalize;
    color: #2f363c;
	margin-top: 5px;
    margin-bottom: 6px;
    font-weight: 600;
    line-height: 1.25;
}

p{
	text-indent: 20px;
	margin-bottom: 1em;
	text-align: left
}

span{
	margin: 1.5em;
}
.text-danger{
	color: red;
}



.content{
	max-width: 1024px;
	margin:auto;	/* Centrado en horizontal */

}

h1{
	font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.wrapper-nav{
	margin:auto;	/* Centrado en horizontal */
	background: #f7f7f7;
	width:100%; 
	border-bottom: 1px solid #dee0e2;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main.content{
	margin-top: 80px;
	/*background-color: red; Lo utilizamos para ver el espacio que ocupa con el inspector*/
	margin-bottom: 70px;
}

.tituloEnMedio{
	color: rgb(209, 221, 239);
	margin: 0 0 0 0;
}

header.principal{
	background-color: #003580;
	color: #FFF;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	/*padding: 10px;*/
}

/*
#principal{
	background-color: teal;
	color: coral;
	margin: 1px 2px 25px 5px;
	padding: 10px 10px 10px 10px;
	border: 5px solid #000;
}


#principal a:hover{
	color: teal;
	background-color: aliceblue;
	border: 1px solid #00ffff;
	transition-duration: 900ms;
	padding: 20px;
}
*/

nav {
  padding: 0em 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  max-width: 1024px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

 

    
}
wrapper-nav nav li a {
  color: #003580;
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;

    background: #f7f7f7;
   
    position: static;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    width: 100%;
	z-index: 10000;
	
	line-height: 1;
	
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
nav li a.menu:hover {
  background: tomato;
  
  color: white;
  padding: 3px, 8px;
}

.boton-arriba{
	position: fixed;
  	bottom:  2em;
	right: 2em;
	background-color: white;
	border-radius: 50%;
	padding: 2px;
	z-index: 1000;

	-webkit-box-shadow: 12px 8px 16px -2px rgba(0,0,0,0.74); 
	box-shadow: 12px 8px 16px -2px rgba(0,0,0,0.74);

}

.active{
	background: #003580  !important;
	border-radius: 12px;
	/*font-size: 3em;*/
}

@media screen and (min-width: 480px) {
    nav ul {
      display: flex;
    }
  }