@charset "ISO-8859-1";

	.contenedor{
		border: 1px solid #000;
		padding: 20px;
		/*position: relative;	 Para que la clase absoluta sea realativa al contenedor*/
	}
	.box{
		background-color:lime;
		color: fuchsia;
		margin: 10px;
		width: 31%;
		display: inline-block;
		height: 150px;
	}
	.w100{
		width: 99%;
	}
	.relativo{
		background-color: orange;
		position: relative;
		top: 50px;
		left: 75px;
	}

	.absoluto{
		background-color: blue;
		position: absolute;
		top: 50px;
		left: 75px;
	}

	.flotante{
		background-color: aquamarine;
		float: right;
	}

	.visualizar{
		visibility: hidden
	}

	.ocultar{
		display:none;
	}
	@keyframes pulse {
  0% {
    transform: scale(1);
    color: #f98585;
  }
  100% {
    transform: scale(1.5);
    color: #f59707;
  }
}
.card {
  width: 400px;
  position: relative;
  overflow: hidden;
}
.card:hover .card-content {
  bottom: 0;
  animation-duration: 1s;
}
.card .card-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #FFF;
  position: absolute;
  transition-duration: 1.5s;
  bottom: -165px;
}
.card .card-content h2 {
  color: #FFF;
  font-weight: 600;
  font-size: 1.6em;
}
.card .card-content .fa-heart {
  float: right;
  color: #f98585;
  margin-right: 10px;
  margin-top: 10px;
}
.card .card-content .fa-heart:hover {
  animation: pulse .85s infinite alternate;
  color: red;
}


